html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

:where(*) {
  box-sizing: border-box;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.container {
  width: 400px;
  height: fit-content;
  max-height: 80%;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  padding: 16px;
  resize: both;

  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 8px;
}
